@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSp1r3JsPcQLi8jytr04NNhU.woff) format('woff')
}

.row {
    margin: 0 auto;
    width: 960px;
    overflow: hidden
}

.row .row {
    margin: 0 -16px 0 -16px;
    width: auto;
    display: inline-block
}

.grid_1 {
    width: 48px;
    margin: 0 16px 0 16px;
    overflow: hidden;
    float: left;
    display: inline
}

.grid_2 {
    width: 128px;
    margin: 0 16px 0 16px;
    overflow: hidden;
    float: left;
    display: inline
}

.grid_3 {
    width: 208px;
    margin: 0 16px 0 16px;
    overflow: hidden;
    float: left;
    display: inline
}

.grid_4 {
    width: 288px;
    margin: 0 16px 0 16px;
    overflow: hidden;
    float: left;
    display: inline
}

.grid_5 {
    width: 368px;
    margin: 0 16px 0 16px;
    overflow: hidden;
    float: left;
    display: inline
}

.grid_6 {
    width: 448px;
    margin: 0 16px 0 16px;
    overflow: hidden;
    float: left;
    display: inline
}

.grid_7 {
    width: 528px;
    margin: 0 16px 0 16px;
    overflow: hidden;
    float: left;
    display: inline
}

.grid_8 {
    width: 608px;
    margin: 0 16px 0 16px;
    overflow: hidden;
    float: left;
    display: inline
}

.grid_9 {
    width: 688px;
    margin: 0 16px 0 16px;
    overflow: hidden;
    float: left;
    display: inline
}

.grid_10 {
    width: 768px;
    margin: 0 16px 0 16px;
    overflow: hidden;
    float: left;
    display: inline
}

.grid_11 {
    width: 848px;
    margin: 0 16px 0 16px;
    overflow: hidden;
    float: left;
    display: inline
}

.grid_12 {
    width: 928px;
    margin: 0 16px 0 16px;
    overflow: hidden;
    float: left;
    display: inline
}

.offset_1 {
    margin-left: 96px
}

.offset_2 {
    margin-left: 176px
}

.offset_3 {
    margin-left: 256px
}

.offset_4 {
    margin-left: 336px
}

.offset_5 {
    margin-left: 416px
}

.offset_6 {
    margin-left: 496px
}

.offset_7 {
    margin-left: 576px
}

.offset_8 {
    margin-left: 656px
}

.offset_9 {
    margin-left: 736px
}

.offset_10 {
    margin-left: 816px
}

.offset_11 {
    margin-left: 896px
}

.show-phone {
    display: none !important
}

.show-tablet {
    display: none !important
}

.show-screen {
    display: inherit !important
}

.hide-phone {
    display: inherit !important
}

.hide-tablet {
    display: inherit !important
}

.hide-screen {
    display: none !important
}

@media only screen and (min-width: 1200px) {
    .row {
        margin: 0 auto;
        width: 1200px;
        overflow: hidden
    }

    .row .row {
        margin: 0 -20px 0 -20px;
        width: auto;
        display: inline-block
    }

    .grid_1 {
        width: 60px;
        margin: 0 20px 0 20px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_2 {
        width: 160px;
        margin: 0 20px 0 20px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_3 {
        width: 260px;
        margin: 0 20px 0 20px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_4 {
        width: 360px;
        margin: 0 20px 0 20px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_5 {
        width: 460px;
        margin: 0 20px 0 20px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_6 {
        width: 560px;
        margin: 0 20px 0 20px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_7 {
        width: 660px;
        margin: 0 20px 0 20px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_8 {
        width: 760px;
        margin: 0 20px 0 20px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_9 {
        width: 860px;
        margin: 0 20px 0 20px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_10 {
        width: 960px;
        margin: 0 20px 0 20px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_11 {
        width: 1060px;
        margin: 0 20px 0 20px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_12 {
        width: 1160px;
        margin: 0 20px 0 20px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .offset_1 {
        margin-left: 120px
    }

    .offset_2 {
        margin-left: 220px
    }

    .offset_3 {
        margin-left: 320px
    }

    .offset_4 {
        margin-left: 420px
    }

    .offset_5 {
        margin-left: 520px
    }

    .offset_6 {
        margin-left: 620px
    }

    .offset_7 {
        margin-left: 720px
    }

    .offset_8 {
        margin-left: 820px
    }

    .offset_9 {
        margin-left: 920px
    }

    .offset_10 {
        margin-left: 1020px
    }

    .offset_11 {
        margin-left: 1120px
    }

    .show-phone {
        display: none !important
    }

    .show-tablet {
        display: none !important
    }

    .show-screen {
        display: inherit
    }

    .hide-phone {
        display: inherit !important
    }

    .hide-tablet {
        display: inherit !important
    }

    .hide-screen {
        display: none !important
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .row {
        margin: 0 auto;
        width: 768px;
        overflow: hidden
    }

    .row .row {
        margin: 0 -14px 0 -14px;
        width: auto;
        display: inline-block
    }

    .grid_1 {
        width: 36px;
        margin: 0 14px 0 14px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_2 {
        width: 100px;
        margin: 0 14px 0 14px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_3 {
        width: 164px;
        margin: 0 14px 0 14px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_4 {
        width: 228px;
        margin: 0 14px 0 14px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_5 {
        width: 292px;
        margin: 0 14px 0 14px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_6 {
        width: 356px;
        margin: 0 14px 0 14px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_7 {
        width: 420px;
        margin: 0 14px 0 14px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_8 {
        width: 484px;
        margin: 0 14px 0 14px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_9 {
        width: 548px;
        margin: 0 14px 0 14px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_10 {
        width: 612px;
        margin: 0 14px 0 14px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_11 {
        width: 676px;
        margin: 0 14px 0 14px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .grid_12 {
        width: 740px;
        margin: 0 14px 0 14px;
        overflow: hidden;
        float: left;
        display: inline
    }

    .offset_1 {
        margin-left: 78px
    }

    .offset_2 {
        margin-left: 142px
    }

    .offset_3 {
        margin-left: 206px
    }

    .offset_4 {
        margin-left: 270px
    }

    .offset_5 {
        margin-left: 334px
    }

    .offset_6 {
        margin-left: 398px
    }

    .offset_7 {
        margin-left: 462px
    }

    .offset_8 {
        margin-left: 526px
    }

    .offset_9 {
        margin-left: 590px
    }

    .offset_10 {
        margin-left: 654px
    }

    .offset_11 {
        margin-left: 718px
    }

    .show-phone {
        display: none !important
    }

    .show-tablet {
        display: inherit !important
    }

    .show-screen {
        display: none !important
    }

    .hide-phone {
        display: inherit !important
    }

    .hide-tablet {
        display: none !important
    }

    .hide-screen {
        display: inherit !important
    }
}

@media only screen and (max-width: 767px) {
    .row {
        margin: 0 auto;
        width: 300px;
        overflow: hidden
    }

    .row .row {
        margin: 0;
        width: auto;
        display: inline-block
    }

    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
        width: 300px;
        margin: 10px 0 0 0;
        overflow: hidden;
        float: left;
        display: inline
    }

    .offset_1, .offset_2, .offset_3, .offset_4, .offset_5, .offset_6, .offset_7, .offset_8, .offset_9, .offset_10, .offset_11 {
        margin-left: 0
    }

    .show-phone {
        display: inherit !important
    }

    .show-tablet {
        display: none !important
    }

    .show-screen {
        display: none !important
    }

    .hide-phone {
        display: none !important
    }

    .hide-tablet {
        display: inherit !important
    }

    .hide-screen {
        display: inherit !important
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .row {
        margin: 0 auto;
        width: 456px;
        overflow: hidden
    }

    .row .row {
        margin: 0;
        width: auto;
        display: inline-block
    }

    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
        width: 456px;
        margin: 10px 0 0 0;
        overflow: hidden;
        float: left;
        display: inline
    }

    .show-phone {
        display: inherit !important
    }

    .show-tablet {
        display: none !important
    }

    .show-screen {
        display: none !important
    }

    .hide-phone {
        display: none !important
    }

    .hide-tablet {
        display: inherit !important
    }

    .hide-screen {
        display: inherit !important
    }
}

.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.row:after, .clearfix:after {
    clear: both
}

.row, .clearfix {
    zoom: 1
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

body, html, form {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    transition: opacity 200ms;
    -o-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -webkit-transition: opacity 200ms
}

a:hover {
    opacity: .65;
    text-decoration: none
}

img, a {
    border: 0;
    outline: 0
}

.margin {
    margin: 10px 0
}

h1 {
    margin: 0;
    font-size: 220%;
    font-weight: 300;
    line-height: 110%
}

h2 {
    margin: 0;
    font-size: 150%;
    font-weight: 300;
    line-height: 130%
}

h3 {
    font-size: 130%;
    font-weight: 300;
    line-height: 130%
}

h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0
}

.map {
    margin-bottom: 30px
}

.video iframe, .map iframe {
    width: 100%;
    height: 200px
}

.pagination {
    clear: both;
    margin: 20px 0 40px 0;
    float: left;
    width: 100%
}

.pagination a, .pagination div {
    float: left;
    display: block;
    padding: 3px 7px;
    margin-right: 3px
}

#wrapper {
    min-height: 100%;
    background-size: cover;
    background-position: top right
}

#wrapper .nav > li > a {
    font-size: 135%;
    font-weight: 300;
    line-height: 135%
}

#wrapper > .row {
    width: auto;
    min-height: 100%
}

#wrapper > .row > .grid_6 {
    width: 560px
}

#wrapper > .row > .grid_3 {
    margin: 0;
    padding: 0 24px;
    min-height: 600px
}

#wrapper .row {
    padding: 0
}

#wrapper #nav {
    left: 0;
    height: 100%;
    position: fixed
}

#wrapper #nav .languages {
    margin: 10% 0
}

#wrapper #nav .languages .current {
    padding: 3px 6px
}

#wrapper #nav .languages a {
    font-size: 15px;
    font-weight: 400;
    margin-right: 10px
}

#wrapper #nav .logo {
    margin: 20% 0
}

#wrapper #nav .logo img {
    max-width: 100%
}

#wrapper #nav .socials {
    bottom: 20px;
    position: absolute
}

#wrapper #content {
    left: 224px;
    position: relative;
    padding-left: 16px
}

#wrapper #content .content-background {
    float: left;
    width: 100%
}

#wrapper #content .home h1 {
    font-size: 165%
}

#wrapper #content .content-main {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    margin: 30px 45px
}

#wrapper #content .content-main .tiles-item {
    width: 46%;
    float: left;
    margin: 15px 4% 0 0;
    text-align: center
}

#wrapper #content .content-main .tiles-item:nth-child(2n) {
    margin: 15px 0 0 4%
}

#wrapper #content .content-main img {
    width: 100%
}

#wrapper #content .content-main .about, #wrapper #content .content-main .home-block {
    float: left;
    width: 100%;
    margin-bottom: 30px
}

#wrapper #content .content-main .submenu {
    float: left;
    width: 100%;
    margin-bottom: 20px
}

#wrapper #content .content-main .submenu > a {
    float: left;
    width: 100%;
    font-size: 140%;
    font-weight: 300;
    line-height: 140%;
    margin-bottom: 20px
}

#wrapper #content .content-main .submenu h1 {
    margin-bottom: 20px
}

#wrapper #content .content-main .gallery {
    float: none;
    margin-bottom: 20px
}

#wrapper #content .content-main .gallery .photo {
    float: left;
    width: 100%;
    margin-bottom: 40px
}

#wrapper #content .content-main .gallery .photo a {
    width: 30%;
    float: left;
    display: block;
    margin-top: 5%;
    margin-right: 5%
}

#wrapper #content .content-main .gallery .photo a:nth-child(3n+3) {
    margin-right: 0
}

#wrapper #content .content-main .gallery .photo img {
    width: 100%
}

#wrapper #content .content-main .music {
    margin-bottom: 50px
}

#wrapper #content .content-main .short-description {
    margin: 20px 0;
    font-weight: 300
}

#wrapper #content .content-main .description {
    margin: 20px 0
}

#wrapper #content .content-main .video {
    margin: 20px 0
}

#wrapper #content .content-main .block {
    float: left;
    width: 100%
}

#wrapper #content .content-main .block > a:first-child {
    float: left;
    width: 100%;
    margin: 20px 0;
    font-size: 140%;
    font-weight: 300;
    line-height: 120%
}

#wrapper #content .content-main .block iframe {
    max-width: 100%
}

.bio {
    text-align: center
}

.team {
    margin-top: 10px
}

.button {
    float: right;
    margin: 0 0 20px 0
}

.button a {
    font-size: 13px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 2px
}

.date, .date-description {
    margin: 0;
    float: left
}

.date-description {
    width: 100%;
    margin: 20px 0
}

#copyright-line {
    float: left;
    width: 100%;
    padding: 20px 0 15px;
    font-size: 13px;
    font-weight: 300;
}

#copyright-line .copyright {
    width: 50%;
    float: left
}

#copyright-line .copyright span {
    display: block;
    padding: 0 10px
}

#copyright-line .developer {
    width: 50%;
    float: right;
    text-align: right
}

#copyright-line .developer span {
    padding: 0 10px
}

.footer {
    bottom: 0;
    text-align: center;
    margin: 0 0 30px 20px
}

.socials a {
    margin-right: 15px;
    text-decoration: none
}

.socials a:last-child {
    margin-right: 0
}

.empty {
    height: 1px
}

.player {
    margin: 30px 0 0;
}

.player h4 {
    line-height: 16px;
    margin: 0 0 10px 0
}

.font h1, .font h3 {
    margin: 0 !important
}

@media only screen and (min-width: 1200px) {
    #wrapper > .row > .grid_3 {
        padding: 0 28px
    }

    #wrapper > .row > .grid_6 {
        width: 560px
    }

    #wrapper #content {
        left: 280px
    }

    #wrapper .nav > li > a {
        font-size: 135%;
        line-height: 135%
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    #wrapper > .row > .grid_3 {
        padding: 0 22px
    }

    #wrapper > .row > .grid_6 {
        width: 540px
    }

    #wrapper #content {
        left: 178px
    }

    #wrapper .nav > li > a {
        font-size: 115%;
        line-height: 135%
    }
}

@media only screen and (max-width: 767px) {
    #wrapper > .row {
        width: 300px
    }

    #wrapper > .row > .grid_3 {
        padding: 0;
        min-height: initial
    }

    #wrapper > .row > .grid_6 {
        width: 300px
    }

    #wrapper #content {
        padding: 0;
        float: none;
        left: initial;
        margin: 0 auto;
        display: block;
        position: inherit
    }

    #wrapper #content .content-main .tiles-item {
        width: 100%;
        float: none;
        margin: 15px 0 0 0;
        text-align: center
    }

    #wrapper #content .content-main .tiles-item:nth-child(2n) {
        width: 100%;
        margin: 15px 0 0 0
    }

    #wrapper #nav {
        float: none;
        height: auto;
        min-height: 0;
        margin: 0 auto;
        display: block;
        position: inherit
    }

    #wrapper #nav .languages {
        margin: 13px 0
    }

    #wrapper #nav .logo {
        text-align: center;
        margin: 70px 0 15px 0
    }

    #wrapper #nav a {
        font-size: 115%;
        line-height: 100%
    }

    #wrapper #nav .socials {
        left: 50%;
        float: left;
        margin-top: 20px;
        position: relative
    }

    #wrapper #nav .socials > div {
        left: -50%;
        float: left;
        position: relative
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #wrapper > .row {
        width: 456px
    }

    #wrapper > .row > .grid_6 {
        width: 456px
    }

    #wrapper #content .content-main .tiles-item {
        width: 46%;
        float: left;
        margin: 15px 4% 0 0;
        text-align: center
    }

    #wrapper #content .content-main .tiles-item:nth-child(2n) {
        width: 46%;
        margin: 15px 0 0 4%
    }
}

@media only screen and (min-width: 1200px) {
    .bio {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        text-align: left
    }

    .bio img {
        float: left;
        margin-right: 30px
    }

    .team {
        float: left;
        width: 185px;
        margin-top: 0
    }

    .photo {
        float: left
    }

    .photo:nth-child(2n+1), .gallery a:nth-child(2n+1) {
        margin-right: 65px
    }

    .video iframe, .map iframe {
        width: 100%;
        height: 250px
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .video iframe, .map iframe {
        width: 100%;
        height: 150px
    }

    .audiojs .scrubber {
        width: 65%
    }

    .audiojs .time {
        height: 20px;
        line-height: 20px;
        float: right;
        width: auto;
        margin-right: 20%
    }
}

@media only screen and (max-width: 767px) {
    #wrapper .row {
        margin: 0 auto
    }

    .languages {
        float: right;
        margin-top: 0
    }

    .languages, .logo {
        position: relative;
        z-index: 9999
    }

    .footer {
        margin: 30px 0;
        position: inherit
    }

    .video iframe {
        width: 100%;
        height: 150px
    }

    .map iframe {
        width: 366px;
        height: 200px
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .photo, .gallery {
        text-align: start;
        float: left
    }

    .photo:nth-child(2n+1), .gallery a:nth-child(2n+1) {
        margin-right: 60px
    }

    .video iframe {
        width: 100%;
        height: 250px
    }
}

@media only screen and (max-width: 480px) {
    .map iframe {
        width: 100%;
        height: 150px
    }

    .audiojs .scrubber {
        width: 65%
    }

    .audiojs .time {
        height: 20px;
        line-height: 20px;
        float: right;
        width: auto;
        margin-right: 20%
    }
}

.feedback-form {
    margin-top: 30px
}

.feedback-form > div {
    margin-bottom: 5px;
    clear: both
}

.feedback-form > div span {
    vertical-align: top
}

.feedback-form > div label {
    padding: 10px 0;
    font-size: 14px
}

.feedback-form > div input, .feedback-form > div textarea {
    box-sizing: border-box;
    width: 95%;
    max-width: 400px;
    display: block;
    font-size: 15px;
    padding: 7px;
    margin: 5px 0 10px 0;
    border: 1px solid #CCC
}

.feedback-form > div textarea {
    width: 95%;
    max-width: 402px;
    padding: 8px
}

.feedback-form .send-button {
    margin-top: 10px
}

.feedback-form .send-button a {
    display: table-cell;
    padding: 10px;
    background-color: #CCC
}

.label-message, .feedback-required {
    color: #F00;
    display: table-cell;
    padding: 0;
    text-align: right;
    width: 418px
}

.label-message {
    color: #F00;
    display: table-cell;
    text-align: left;
    padding: 10px 0
}

@media only screen and (max-width: 767px) {
    .feedback-form > div input {
        width: 100%;
        max-width: 100%
    }

    .feedback-form > div textarea {
        width: 100%;
        max-width: 100%
    }

    .label-message, .feedback-required {
        width: 100%;
        max-width: 100%
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .feedback-form > div input {
        width: 100%;
        max-width: 100%
    }

    .feedback-form > div textarea {
        width: 100%;
        max-width: 100%
    }

    .label-message, .feedback-required {
        width: 100%;
        max-width: 100%
    }
}

.navigation-bar {
    display: none
}

.navbar {
    top: 40%;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear
}

.navbar-inner {
    position: relative;
    overflow: visible !important;
    border-radius: 2px 2px 0 0
}

.na, .na a {
    transition: none;
    -o-transition: none;
    -moz-transition: none;
    -webkit-transition: none
}

.nav {
    display: block
}

.nav, .nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    background: 0
}

.nav li:hover {
    border-radius: 3px 3px 0 0
}

.nav > li > a {
    font-size: 150%;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    text-transform: uppercase
}

.nav > li:hover > a, .active {
    z-index: 31
}

.nav li .submenu {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px;
    padding: 19px 0;
    z-index: 100
}

.nav li:hover .submenu {
    display: block
}

.ois-link:hover .submenu {
    display: none !important
}

.nav li .submenu a {
    float: left;
    display: table;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 10px;
    line-height: 16px;
    margin-left: -10px;
    position: relative;
    margin-right: 20px;
    text-decoration: none
}

.nav li .submenu a:hover {
    border-radius: 3px
}

.nav li .submenu .td {
    padding: 0 24px
}

.nav li .submenu .table div:first-child {
    background: 0
}

.nav li .list {
    width: auto;
    left: auto;
    padding: 19px
}

@media only screen and (max-width: 767px) {
    .navigation-bar {
        display: block;
        position: absolute;
        width: 100%;
        background-color: #808080
    }

    #action-zone {
        width: 100%;
        display: none
    }

    .openMenu {
        display: block;
        top: 0;
        float: left;
        position: relative;
        line-height: 30px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        padding: 0 15px
    }

    .navbar {
        top: 50px;
        margin: 0;
        width: 300px;
        z-index: 9999;
        position: absolute;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4)
    }

    .nav {
        margin-left: 0
    }

    .navbar-inner {
        overflow: visible;
        height: 100%;
        border-bottom: 0;
        border-radius: 0
    }

    .nav {
        height: auto
    }

    .nav li .submenu {
        top: 0;
        left: 0;
        height: auto;
        border: 0;
        padding-top: 0;
        text-align: left;
        background: 0;
        position: relative;
        width: auto !important;
        display: block;
        float: none
    }

    .nav li .submenu span {
        margin: 20px 0 15px
    }

    .nav li .submenu .table {
        border: 0;
        display: block;
        background: 0
    }

    .nav li .submenu a {
        padding: 7px 0
    }

    .nav li .submenu a:hover {
        text-decoration: none
    }

    .nav li:hover .submenu {
        display: block
    }

    .nav .nav li .submenu .td {
        border: 0;
        display: block;
        background: 0
    }

    .nav > li {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto
    }

    .nav > li > a {
        width: auto;
        display: block;
        text-align: left;
        line-height: 20px;
        padding: 8px 15px
    }

    .nav > li:hover > a {
        border-bottom: 0
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .navbar {
        width: 456px
    }
}

#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear: left
}

#cboxContent {
    position: relative
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

#cboxTitle {
    margin: 0
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0
}

#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box
}

#cboxOverlay {
    background: #000
}

#colorbox {
    outline: 0
}

#cboxContent {
    margin-top: 20px;
    background: #000
}

.cboxIframe {
    background: #fff
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc
}

#cboxLoadedContent {
    border: 5px solid #000;
    background: #fff
}

#cboxTitle {
    position: absolute;
    top: -20px;
    left: 4px;
    color: #ccc
}

#cboxCurrent {
    position: absolute;
    top: -20px;
    right: 0;
    color: #ccc
}

#cboxLoadingGraphic {
    background: url(images/loading.gif) no-repeat center center
}

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: 0
}

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
    outline: 0
}

#cboxSlideshow {
    position: absolute;
    top: -20px;
    right: 90px;
    color: #fff
}

#cboxPrevious {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -32px;
    background: url(../Images/controls.png) no-repeat top left;
    width: 28px;
    height: 65px;
    text-indent: -9999px
}

#cboxPrevious:hover {
    background-position: bottom left
}

#cboxNext {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -32px;
    background: url(../Images/controls.png) no-repeat top right;
    width: 28px;
    height: 65px;
    text-indent: -9999px
}

#cboxNext:hover {
    background-position: bottom right
}

#cboxClose {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    background: url(../Images/controls.png) no-repeat top center;
    width: 38px;
    height: 19px;
    text-indent: -9999px
}

#cboxClose:hover {
    background-position: bottom center
}

.audioplayer {
    height: 2.5em;
    color: #fff;
    position: relative;
    z-index: 1;
    background: #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.audioplayer-mini {
    width: 2.5em;
    margin: 0 auto
}

.audioplayer > div {
    position: absolute
}

.audioplayer-playpause {
    width: 2.5em;
    height: 100%;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    left: 0
}

.audioplayer:not(.audioplayer-mini) .audioplayer-playpause {
    border-right: 1px solid #555;
    border-right-color: rgba(255, 255, 255, .1)
}

.audioplayer-mini .audioplayer-playpause {
    width: 100%
}

.audioplayer-playpause:hover, .audioplayer-playpause:focus {
    background-color: #222
}

.audioplayer-playpause a {
    display: block
}

.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
    width: 0;
    height: 0;
    border: .5em solid transparent;
    border-right: 0;
    border-left-color: #fff;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.5em 0 0 -0.25em
}

.audioplayer-playing .audioplayer-playpause a {
    width: .75em;
    height: .75em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.375em 0 0 -0.375em
}

.audioplayer-playing .audioplayer-playpause a:before, .audioplayer-playing .audioplayer-playpause a:after {
    width: 40%;
    height: 100%;
    background-color: #fff;
    content: '';
    position: absolute;
    top: 0
}

.audioplayer-playing .audioplayer-playpause a:before {
    left: 0
}

.audioplayer-playing .audioplayer-playpause a:after {
    right: 0
}

.audioplayer-time {
    width: 4.375em;
    height: 100%;
    line-height: 2.375em;
    text-align: center;
    z-index: 2;
    top: 0
}

.audioplayer-time-current {
    border-left: 1px solid #111;
    border-left-color: rgba(0, 0, 0, .25);
    left: 2.5em
}

.audioplayer-time-duration {
    border-right: 1px solid #555;
    border-right-color: rgba(255, 255, 255, .1);
    right: 2.5em
}

.audioplayer-novolume .audioplayer-time-duration {
    border-right: 0;
    right: 0
}

.audioplayer-bar {
    height: .875em;
    background-color: #222;
    cursor: pointer;
    z-index: 1;
    top: 50%;
    right: 6.875em;
    left: 6.875em;
    margin-top: -0.438em
}

.audioplayer-novolume .audioplayer-bar {
    right: 4.375em
}

.audioplayer-bar div {
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.audioplayer-bar-loaded {
    background-color: #333;
    z-index: 1
}

.audioplayer-bar-played {
    background: #007fd1;
    z-index: 2
}

.audioplayer-volume {
    width: 2.5em;
    height: 100%;
    border-left: 1px solid #111;
    border-left-color: rgba(0, 0, 0, .25);
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    right: 0
}

.audioplayer-volume:hover, .audioplayer-volume:focus {
    background-color: #222
}

.audioplayer-volume-button {
    width: 100%;
    height: 100%
}

.audioplayer-volume-button a {
    width: .313em;
    height: .375em;
    background-color: #fff;
    display: block;
    position: relative;
    z-index: 1;
    top: 40%;
    left: 35%
}

.audioplayer-volume-button a:before, .audioplayer-volume-button a:after {
    content: '';
    position: absolute
}

.audioplayer-volume-button a:before {
    width: 0;
    height: 0;
    border: .5em solid transparent;
    border-left: none;
    border-right-color: #fff;
    z-index: 2;
    top: 50%;
    right: -0.25em;
    margin-top: -0.5em
}

.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
    width: .313em;
    height: .313em;
    border: .25em double #fff;
    border-width: .25em .25em 0 0;
    left: .563em;
    top: -0.063em;
    -webkit-border-radius: 0 .938em 0 0;
    -moz-border-radius: 0 .938em 0 0;
    border-radius: 0 .938em 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.audioplayer-volume-adjust {
    height: 6.25em;
    cursor: default;
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    background: #222;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px
}

.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {
    opacity: 0
}

.audioplayer-volume:hover .audioplayer-volume-adjust {
    top: auto;
    bottom: 100%
}

.audioplayer-volume-adjust > div {
    width: 40%;
    height: 80%;
    background-color: #222;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin: 30% auto 0
}

.audioplayer-volume-adjust div div {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #007fd1
}

.audioplayer-novolume .audioplayer-volume {
    display: none
}

.audioplayer-play, .audioplayer-pause, .audioplayer-volume a {
    -webkit-filter: drop-shadow(1px 1px 0 #000);
    -moz-filter: drop-shadow(1px 1px 0 #000);
    -ms-filter: drop-shadow(1px 1px 0 #000);
    -o-filter: drop-shadow(1px 1px 0 #000);
    filter: drop-shadow(1px 1px 0 #000)
}

.audioplayer-bar, .audioplayer-bar div, .audioplayer-volume-adjust div {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 3px
}

.audioplayer *, .audioplayer *:before, .audioplayer *:after {
    -webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    transition: color .25s ease, background-color .25s ease, opacity .5s ease
}

.socbuttons {
    margin: 0;
    float: left
}

.socbuttons .socbutton {
    float: left;
    margin: 10px 20px 5px 0
}

.comments {
    clear: both;
    width: 100%
}

.socplugins .fb_iframe_widget, .socplugins .fb_iframe_widget > span, .socplugins .fb_iframe_widget > span iframe {
    width: 100% !important;
    display: block
}