/* CUSTOM STYLES GENERATOR */

#wrapper {
    background-attachment: fixed;
    background-image: url('../images/Background.png');
}

.languages a, .openMenu, .nav > li > a {
    color: #FFFFFF;
}

.nav li a:hover {
    color: #af303e;
}

a,
.copyright,
.languages a:active,
.content-main,
.content-main h1,
.content-main h3,
.content-main h4,
.content-main span,
.content-main p,
.content-main .block div,
.content-main .date,
.content-main .title {
    color: #fff;
}

.block > a {
    color: #d0949a;
}

.button a, .languages .current {
    color: #af303e;
    background-color: #fff;
}

#content .content-background {
    background-color: #9e2532;
}

#copyright-line {
    background-color: #000000;
}

#wrapper .row > .grid_3 {
    background-color: #000000;
}

@media only screen and (max-width: 767px) {
    .navbar {
        background-color: #808080;
    }

    #wrapper .nav > li > a {
        border-bottom: 1px solid #999;
    }
}

/**************************************/

.content-main {
    color: #FFF;
}

#content .content-background {
    background-color: #FFFFFF;
}

.content-main,
.content-main h1,
.content-main h3,
.content-main h4,
.content-main span,
.content-main p,
.content-main .block div,
.content-main .date,
.content-main .title {
    color: #333333;
}

.button a {
    background-color: rgba(51, 51, 51, 0.247059);
}

#content a {
    color: #60888f;
}

#content a:hover {
    color: #4ac2ae;
}

.openMenu,
.languages a,
.nav > li > a {
    color: #333333;
}

#content .button a,
.copyright,
.nav > li > a:hover,
.languages a:hover,
.languages .current {
    color: #555555;
}

#copyright-line, #wrapper .row > .grid_3 {
    background-color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .navigation-bar, .navbar {
        background-color: #ffffff;
    }
}

#wrapper #content .content-main .block .smallheadtitle {
    font-weight: bold;
    font-style: italic;
}

#wrapper #content .content-main .block span {
    font-weight: bold;
}

#wrapper #content .content-main .headtitle {
    margin: 20px 0;
    font-weight: bold;
}

#wrapper #content .content-main .block ul > li {
    margin: 5px 0;
}

#wrapper #content .content-main .block .highlist > li {
    margin: 7px 0;
}

#wrapper #content .content-main .block .description > img {
    margin: 10px 0;
}

#wrapper #content .content-main .block .contact {
    margin: 10px 0;
}